<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAE2b9DRMdDOnpSBzbjM0J5B0lPZAmzAMY</string>
	<key>GCM_SENDER_ID</key>
	<string>416471692126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mapz.navigation</string>
	<key>PROJECT_ID</key>
	<string>mapz-public</string>
	<key>STORAGE_BUCKET</key>
	<string>mapz-public.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416471692126:ios:133bbd176eaffac86795cf</string>
	<key>DATABASE_URL</key>
	<string>https://mapz-public-default-rtdb.firebaseio.com</string>
</dict>
</plist>